
<div class="row" style="margin-top:30px;">

    <div class="col-lg-2 col-md-2 col-sm-12">
            <%- include('../sidebar.ejs') -%>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12">
        
        <h3><%= title %></h2>
        <br>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>title</th>
                        <th>version</th>
                        <th>Description</th>
                        <th>Url</th>
                    </tr>
                </thead>
                <tbody>
                <% results.map((result)=> { %>
                    <tr>
                        <td><%= result._id %></td>
                        <td><%= result.title %></td>
                        <td><%= result.version %></td>
                        <td><%= result.short_description %></td>
                        <td><%= result.url %></td>
                        <td><a href="/admin/application/update/<%= result.id %>">Edit</a></td>
                    </tr>
                    <%}) %>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>   
    </div>
</div>